<table class="table table-hover">
  <tr>
    <th>id</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Speaker</th>
    <th>Éditer</th>
    <th>Supprimer</th>
  </tr>
  {{#each talks}}
  <tr>
    <td>{{ this.id }}</td>
    <td>{{ this.title }}</td>
    <td>{{ this.description }}</td>
    <td>{{ this.speaker }}</td>
    <td><a href="edit.php?id={{ this.id }}"><i class="icon-edit"></i></a></td>
    <td><a href="delete.php?id={{ this.id }}"><i class="icon-remove"></i></a></td>
  </tr>
  {{/each}}
</table>