<div class="row hide form-error">
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Une erreur s'est produite lors de votre inscription, veuillez recommencer.
    <span class="error-msg"></span>
  </div>
</div>
<div class="row hide form-success">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Votre inscription a bien été enregistrée.
  </div>
</div>
<form id="event_subscribe_form" action="subscribers/new.php" method="POST">
  <h2>S'inscrire</h2>
  <div class="row">
    <div class="span6">
      <label for="subscriber-lastname">Nom</label>
      <input type="text" id="subscriber-lastname" name="subscriber[lastname]" />
    </div>
    <div class="span6">
      <label for="subscriber-firstname">Prénom</label>
      <input type="text" id="subscriber-firstname" name="subscriber[firstname]" />
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <label for="subscriber-email">Adresse e-mail <em>(ne sera pas divulguée)</em></label>
      <input type="text" id="subscriber-email" name="subscriber[email]" />
    </div>
    <div class="span6">
      <input type="hidden" id="event_id" name="subscriber[event_id]" value="{{ event_id }}" />
      <input class="btn btn-primary" type="submit" value="S'inscrire" />
    </div>
  </div>
</form>